<p style="color: green"><%= notice %></p>
<h1>INDEX</h1>
<h1>Clients</h1>

<div id="clients">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Rut</th>
          <th scope="col">Mail</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Comuna</th>
          <th scope="col">Región</th>
          <th scope="col">Descripción Proyecto</th>
          <th scope="col"></th>
        </tr>
      </thead>
    <tbody>
      <% @client.each do |client| %>
        <%= render client %>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to "New client", new_client_path %>
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination my-4">
    <li class="page-item">
      <%= will_paginate @client %>
    </li>
  </ul>
</nav>
